{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
	<style>
		html, body{
			margin:0px !important;
			font-family: 'Noto Sans HK', sans-serif;
		}
		.custom-toggler.navbar-toggler {
            border-color: green;
        }
        /* Setting the stroke to green using rgb values (0, 128, 0) */
          
        .custom-toggler .navbar-toggler-icon {
            background-image: url(
				"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(26, 188, 156, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
	</style>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		{% block header %}
			<div class="container-fluid">
				<div class="row">
					<div class="col" id="header-top">
						<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
							中
						</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
							<li><a class="dropdown-item" href="#">Eng</a></li>
						</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg navbar-white bg-white">
					<a class="navbar-brand" href="#">
						<img src="https://www.google.com.hk/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png" alt="" width="200" height="70" class="d-inline-block align-text-top">
					</a>
					<button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon" style="color:black;"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav">
							<li class="nav-item" style="margin-left:50px;">
								<a class="nav-link" href="#" style="color:green;"><strong>我們的使命</strong></a>
							</li>
							<li class="nav-item" style="margin-left:50px;">
								<a class="nav-link" href="#" style="color:green;"><strong>流程</strong></a>
							</li>
							<li class="nav-item" style="margin-left:50px;">
								<a class="nav-link" href="#" style="color:green;"><strong>選擇範疇</strong></a>
							</li>
							<li class="nav-item" style="margin-left:50px;">
								<a class="nav-link" href="#" style="color:green;"><strong>專業支援</strong></a>
							</li>
							<li class="nav-item" style="margin-left:50px;">
								<a class="nav-link" href="#" style="color:green;"><strong>聯絡我們</strong></a>
							</li>
						</ul>
						<ul class="navbar-nav justify-content-end">
							<li class="nav-item">
								<button class="btn btn-sm btn-light" type="button" style="margin-right:10px; color:green;"><strong>個人登入</strong></button>
							</li>
							<li class="nav-item">
								<button class="btn btn-sm btn-success" type="button"><strong>團體登入</strong></button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		{% endblock %}
		<!--
		<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
		<header class="header" >
			
				<div class="wrapper">
					<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>
					<nav id="nav-main" class="nav-main" role="navigation">
						{% include "menu.twig" with {'items': menu.get_items} %}
					</nav>
				</div>
			
			-->
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		<!--Footer (Copyright 2021)
		{% block footer %}
			<footer id="footer">
				{% include 'footer.twig' %}
			</footer>
			{{ function('wp_footer') }}
		{% endblock %}
		-->
	</body>
</html>
