{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
	<style>
		html, body{
			margin:0px !important;
			font-family: 'Noto Sans HK', sans-serif;
			background-color:#7FD5CA;
		}
		.custom-toggler.navbar-toggler {
            border-color: green;
        }
        /* Setting the stroke to green using rgb values (0, 128, 0) */
          
        .custom-toggler .navbar-toggler-icon {
            background-image: url(
				"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(26, 188, 156, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
	</style>
{% endblock %}
	<body class="{{body_class}}" data-template="base.twig">
		<!--<a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>-->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		
		<header class="header" >

			{% block header %}
				<div class="wrapper">
					<!--<h1 class="hdr-logo" role="banner">
						<a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a>
					</h1>-->
					<div class="container-fluid bg-white">
						<div class="row">
							<div class="col header-top">
								<div class="dropdown">
								<button class="btn btn-secondary dropdown-toggle language-btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
									<strong>中</strong>
								</button>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item language-btn" href="#"><strong>Eng</strong></a></li>
								</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="container-fluid bg-white">
						<nav class="navbar navbar-expand-lg navbar-white bg-white">
							<a class="navbar-brand" href="#">
								<img src="{{ site.theme.link }}/static/pics/logo.PNG" alt="" class="d-inline-block align-text-top logo-size">
							</a>
							<button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="navbar-toggler-icon" style="color:black;"></span>
							</button>
							<div class="collapse navbar-collapse" id="navbarSupportedContent">
								<ul class="navbar-nav mr-auto">
								{% include "menu.twig" with {'items': menu.get_items} %}
								</ul>
								<form class="form-inline my-2 my-lg-0" style="margin-right:10px;">
									<button class="remove-button-style"><a href="#" class="fa fa-facebook"></a></button>
									<button class="remove-button-style"><a href="#" class="fa fa-instagram"></a></button>
								</form>
								<form class="form-inline my-2 my-lg-0">
									<a href="/signup" class="btn my-2 my-sm-0 btn-color-odd"><strong>用戶註冊</strong></a>
									<a href="/personallogin" class="btn my-2 my-sm-0 btn-color-even"><strong>個人登入</strong></a>
									<a href="/grouplogin" class="btn my-2 my-sm-0 btn-color-odd"><strong>團體登入</strong></a>
								</form>
							</div>
						</nav>
					</div>
				</div>
			{% endblock %}
		</header>

		<section id="content" role="main" class="content-wrapper">
			{% if title %}<h1>{{title}}</h1>{% endif %}
			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			<footer id="footer" class="footer-style mt-5 fs-6">
				{% include 'footer.twig' %}
			</footer>
			<!--{{ function('wp_footer') }}-->
		{% endblock %}
		
	</body>
</html>
