<style>
	.item-margin{
        margin-right : 80px !important;
	}
	@media screen and (max-width:1399.5px) {
		.item-margin{
			margin-right : 50px !important;
		}  
	} 
	@media only screen and (max-width: 1274px){
		.dropdown-menu {
			font-size:15px !important;
			width:100% !important;
		}
	}
	@media screen and (max-width:991.5px) {
		.item-margin{
			margin-right:15px !important;
			margin-left:15px !important;
		}    
	} 
</style>
{% if menu %}
	{% for item in items %}
		{% if item.title == "法律知識" %}
		<li class="{{ item.classes | join(' ') }} nav-item dropdown">
			<a class="nav-link dropdown-toggle dark-green-color item-margin" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ item.title }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for child in item.children %}
					{% if child.children %}
						<a class="nav-link dropdown-toggle dark-green-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left:8px; padding-right:8px;">
							{{ child.title }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for child_2 in child.children %}
								<a class="dropdown-item dark-green-color" href="{{ child_2.link }}">{{ child_2.title }}</a>
							{% endfor %}
						</div>
					{% else %}
						<a class="dropdown-item dark-green-color" href="{{ child.link }}">{{ child.title }}</a>
					{% endif %}
				{% endfor %}
				{% for tag in tags %}
					<a class="dropdown-item dark-green-color" href="{{ url }}/tag/{{ tag.slug }}">{{ tag.name }}</a>
				{% endfor %}
			</div>
		</li>
		{% elseif item.children %}
		<li class="{{ item.classes | join(' ') }} nav-item dropdown">
			<a class="nav-link dropdown-toggle dark-green-color item-margin" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				{{ item.title }}
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for child in item.children %}
					{% if child.children %}
						<a class="nav-link dropdown-toggle dark-green-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-left:8px; padding-right:8px;">
							{{ child.title }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for child_2 in child.children %}
								<a class="dropdown-item dark-green-color" href="{{ child_2.link }}">{{ child_2.title }}</a>
							{% endfor %}
						</div>
					{% else %}
						<a class="dropdown-item dark-green-color" href="{{ child.link }}">{{ child.title }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</li>
		{% else %}
		<li class="{{ item.classes | join(' ') }} nav-item">
			{% if item.link == currentURL %}
				<a class="nav-link green-color item-margin" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% else %}
				<a class="nav-link dark-green-color item-margin" target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% endif %}
		</li>
		{% endif %}
	{% endfor %}
{% endif %}


{#
{% if menu %}
	{% for item in items %}
		{% if item.title == "法律知識" %}
		<li class="{{ item.classes | join(' ') }} nav-item dropdown">
			<a class="nav-link dropdown-toggle" style="color:#757575;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<strong class="navbar-title">{{ item.title }}</strong>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for child in item.children %}
					{% if child.children %}
						<a class="nav-link dropdown-toggle navbar-title" style="color:#757575; padding-left:16px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ child.title }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for child_2 in child.children %}
								<a class="dropdown-item navbar-title" style="color:#757575;" href="{{ child_2.link }}">{{ child_2.title }}</a>
							{% endfor %}
						</div>
					{% else %}
						<a class="dropdown-item navbar-title" style="color:#757575;" href="{{ child.link }}">{{ child.title }}</a>
					{% endif %}
				{% endfor %}
				{% for tag in tags %}
					<a class="dropdown-item navbar-title" style="color:#757575;" href="{{ url }}/tag/{{ tag.slug }}">{{ tag.name }}</a>
				{% endfor %}
			</div>
		</li>
		{% elseif item.children %}
		<li class="{{ item.classes | join(' ') }} nav-item dropdown">
			<a class="nav-link dropdown-toggle" style="color:#757575;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<strong class="navbar-title">{{ item.title }}</strong>
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				{% for child in item.children %}
					{% if child.children %}
						<a class="nav-link dropdown-toggle navbar-title" style="color:#757575; padding-left:16px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							{{ child.title }}
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							{% for child_2 in child.children %}
								<a class="dropdown-item navbar-title" style="color:#757575;" href="{{ child_2.link }}">{{ child_2.title }}</a>
							{% endfor %}
						</div>
					{% else %}
						<a class="dropdown-item navbar-title" style="color:#757575;" href="{{ child.link }}">{{ child.title }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</li>
		{% else %}
		<li class="{{ item.classes | join(' ') }} nav-item">
			<a class="nav-link" style="color:#757575;" target="{{ item.target }}" class="navbar-title" href="{{ item.link }}"><strong>{{ item.title }}</strong></a>
		</li>
		{% endif %}
	{% endfor %}
{% endif %}
#}
