<div class="row mt-5">
    <div>
        <div class="col-5">
            <div class="shadow p-3 mb-5 bg-white">
                <p class="text-center fs-1 white-bg-title"><strong>選擇範疇</strong></p>
                <p class="text-center fs-5 white-bg-content"><strong>選擇所需範疇，讓我們提供相關服務</strong></p>
                <br/>
                <div class="dropdown text-center">
                    <button class="btn dropdown-toggle dropdown-style" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <strong class="fs-6">選擇範疇</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/trafficForm"><strong>交通意外</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/divorceForm"><strong>離婚事宜</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/landForm"><strong>大廈管理</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/animalForm"><strong>動物權益</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="localhost/businessForm"><strong>創業事宜</strong></a></li>
                        <li><a class="dropdown-item fs-6 dropdownItem-style" href="#"><strong>其他問題</strong></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-5">
            <img src="{{ site.theme.link }}/static/pics/workflow-2-1.png">
        </div>
    </div>
</div>
<!--
<div class="row">
    <div class="col-5 col-md-3 col-xl-2">
        <p class="text-break green-bg-title"><strong class="fs-3">服務流程</strong></p>
    </div>
    <div class="col-3">
        <form>
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong class="fs-6">立即查詢</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="localhost/trafficForm">交通意外</a></li>
                    <li><a class="dropdown-item" href="localhost/divorceForm">離婚事宜</a></li>
                    <li><a class="dropdown-item" href="localhost/landForm">大廈管理</a></li>
                    <li><a class="dropdown-item" href="localhost/animalForm">動物權益</a></li>
                    <li><a class="dropdown-item" href="localhost/businessForm">創業事宜</a></li>
                    <li><a class="dropdown-item" href="#">其他問題</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-1.png" alt="" style="width:200px; height;300px">
    </div>
    <div class="col-1 col-xl-1" style="margin-top:80px">
    <span class="material-icons-outlined workflow-arrowSize green-bg-content">arrow_forward_ios</span>
    <span class="material-icons-outlined workflow-arrowSize green-bg-content">arrow_forward_ios</span>
    </div>
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-2.png" alt="" style="width:200px; height;300px">
    </div>
    <div class="col-1 col-xl-1" style="margin-top:80px">
    <span class="material-icons-outlined workflow-arrowSize green-bg-content">arrow_forward_ios</span>
    <span class="material-icons-outlined workflow-arrowSize green-bg-content">arrow_forward_ios</span>
    </div>
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-3.png" alt="" style="width:200px; height;300px">
    </div>
    <div class="col-1 col-xl-1" style="margin-top:80px">
    <span class="material-icons-outlined workflow-arrowSize green-bg-content">arrow_forward_ios</span>
    <span class="material-icons-outlined workflow-arrowSize green-bg-content">arrow_forward_ios</span>
    </div>
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-4.png" alt="" style="width:200px; height;300px">
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong class="text-center workflow-2-text green-bg-content" style="margin-left:35px;">填寫基本資料</strong></p>
    </div>
    <div class="col-1 col-xl-1"></div>
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong class=" text-center workflow-2-text green-bg-content">Lecopt為你分析，提供初步法律資訊</strong></p>
    </div>
    <div class="col-1 col-xl-1"></div>
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong class="text-center workflow-2-text green-bg-content">Lecopt為你準備相關基本文件及安排專業服務</strong></p>
    </div>
    <div class="col-1 col-xl-1"></div>
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong class="text-center workflow-2-text green-bg-content" style="margin-left:15px;">準備妥當與律師會面</strong></p>
    </div>
</div>
-->
