<div class="row justify-content-center">
    <div class="col-3 col-md-3 col-xl-2 text-center">
        <p class="workflow-3-title pt-5"><strong class="fs-1">服務流程</strong></p>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-3 text-center mb-3">
        <div class="dropdown">
            <button class="btn dropdown-toggle workflow-3-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <strong class="fs-6 workflow-3-dropdown-text">立即查詢</strong>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li role="presentation"><a class="dropdown-item" href="localhost/trafficForm">交通意外</a></li>
                <li role="presentation"><a class="dropdown-item" href="localhost/divorceForm">離婚事宜</a></li>
                <li role="presentation"><a class="dropdown-item" href="localhost/landForm">大廈管理</a></li>
                <li role="presentation"><a class="dropdown-item" href="localhost/animalForm">動物權益</a></li>
                <li role="presentation"><a class="dropdown-item" href="localhost/businessForm">創業事宜</a></li>
                <li role="presentation"><a class="dropdown-item" href="#">其他問題</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-1.png" class="w-100 h-100">
    </div>
    <div class="col-1 col-xl-1">
        <img src="{{ site.theme.link }}/static/pics/workflow-arrow.png" class="workflow-3-arrow">
    </div>
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-2.png" class="w-100 h-100">
    </div>
    <div class="col-1 col-xl-1">
        <img src="{{ site.theme.link }}/static/pics/workflow-arrow.png" class="workflow-3-arrow">
    </div>
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-3.png" class="w-100 h-100">
    </div>
    <div class="col-1 col-xl-1">
        <img src="{{ site.theme.link }}/static/pics/workflow-arrow.png" class="workflow-3-arrow">
    </div>
    <div class="col-2 col-xl-2">
        <img src="{{ site.theme.link }}/static/pics/workflow-4.png" class="w-100 h-100">
    </div>
</div>
<div class="row justify-content-between mx-5 mt-3">
    <div class="col-2 col-md-4 col-xl-2 px-5">
        <p class="workflow-3-text"><strong>填寫基本資料</strong></p>
    </div>
    <div class="col-2 col-xl-2">
        <p class="workflow-3-text"><strong>Lecopt為你分析，提供初步法律資訊</strong></p>
    </div>
    <div class="col-2 col-xl-2">
        <p class="workflow-3-text"><strong>Lecopt為你準備相關基本文件及安排專業服務</strong></p>
    </div>
        <div class="col-2 col-xl-2">
        <p class="workflow-3-text"><strong>準備妥當與律師會面</strong></p>
    </div>
</div>
{#
<div class="row justify-content-center">
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong>填寫基本資料</strong></p>
    </div>
    <div class="col-1 col-xl-1"></div>
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong>Lecopt為你分析，提供初步法律資訊</strong></p>
    </div>
    <div class="col-1 col-xl-1"></div>
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong>Lecopt為你準備相關基本文件及安排專業服務</strong></p>
    </div>
    <div class="col-1 col-xl-1"></div>
    <div class="col-2 col-md-2 col-xl-2">
        <p><strong>準備妥當與律師會面</strong></p>
    </div>
</div>
#}

